.enError {
    font-size: 10px;
    border: 2px red solid;
    padding: 2px;
    background-color: #F08080;
}
.enSuccess {
    font-size: 10px;
    border: 2px blue solid;
    padding: 2px;
    background-color: #2EA2CC;
}
.enFormloader {
    background: #a0d8f1 url("../images/bg.jpg") repeat scroll 0 0;
    border: 3px solid #efefef;
    display: none;
    font-size: 13px;
    padding: 20px;
    position: relative;
    width: 468px;
    z-index: 9998;
}
.enformLine {
    height: 30px;
    display: block;
    width: 100%;
}

.appformTitle
{
	width:100%; 
	text-align: 
	center; 
	font-size: 18px; 
	font-weight: bold; 
	margin-top: -20px; 
	margin-bottom:15px;
	border-bottom:1px solid #cccccc; 
	padding-bottom:10px; color: #202020;
}
[id^=enFormClose]
{
    text-decoration: none;
    cursor: pointer;
}
.entextfield {
    height: 30px;
    padding: 0 0 0 4px;
    width: 100%;
    font-size: 15px;
    border: 3px solid #efefef;
    border-radius: 0;
}
.enlabel {
    font-size: 14px;
    font-weight: bold;
}
.en-button {
    padding: 4px;
    background-color: #333333;
    color: white;
}
[id^=cover]
{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
}
.inlineblock {
    display: inline-block;
    margin: 0 3px 5px;
    width: 48%;
}

[id^=enspinner]
{
    background: url("../images/ajax-loader.gif") no-repeat scroll 0 0;
    width: 276px;
    height: 224px;
    display: none;
    margin: 0 auto;
}